button{
    padding:12px 22px;
    border:none;
    border-radius:var(--radius);
    background:var(--primary);
    color:var(--white);
    font-size:15px;
    font-weight:600;
    transition:.3s;
}

button:hover{
    background:var(--secondary);
}